<div class="container mt-5">
  <h1 class="mb-4">Sign Up</h1>

  <%= form_with(model: @user, url: signup_path, method: :post, class: 'mb-4') do |form| %>
    <div class="mb-3 form-check">
      <%= form.check_box :admin, class: 'form-check-input' %>
      <%= form.label :admin, class: 'form-check-label' %>
    </div>

    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :password, class: 'form-label' %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, class: 'form-label' %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :country, class: 'form-label' %>
      <%= form.text_field :country, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :province, class: 'form-label' %>
      <%= form.text_field :province, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :city, class: 'form-label' %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :postal_code, class: 'form-label' %>
      <%= form.text_field :postal_code, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :street_address, class: 'form-label' %>
      <%= form.text_field :street_address, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
