<%= form_with(model: [:admin, product], local: true, url: (@product.persisted? ? admin_update_product_path(@product) : admin_create_product_path), method: (@product.persisted? ? :patch : :post)) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

 <div>
    <%= form.label :categories, 'Select or add categories' %>
    <%= form.collection_select :category_ids, Category.all, :id, :name, { prompt: 'Select or add categories', multiple: true }, {} %>
  </div>

  <div>
    <%= form.label :new_category_name, 'Add a new category' %>
    <%= form.text_field :new_category_name %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit 'Save Product' %>
  </div>
<% end %>
