<h1>Your Cart</h1>

<% if @order_items.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <ul>
    <% @order_items.each do |order_item| %>
      <li>
        <%= link_to order_item.product.name, product_path(order_item.product) %>
        - Quantity: <%= order_item.quantity %>
        <%= form_with(model: order_item, url: cart_item_path(order_item), method: :put, local: true) do |form| %>
          <%= form.text_field :quantity %>
          <%= form.submit 'Update Quantity' %>
        <% end %>
        <%= button_to 'Remove from Cart', remove_from_cart_path(order_item.product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @order_items.any? %>
  <%= button_to 'Checkout 💳', create_checkout_path(order_item_id: @order_items.first.id), method: :post, class: 'btn btn-primary' %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
<%= link_to 'Back to Product Listing', products_path %>
