<h1><%= @product.name %></h1>
<p>Description: <%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<% if @product.image.attached? %>
  <%= image_tag @product.image, style: 'max-height: 300px;' %>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', admin_edit_product_path(@product) %> |
  <%= button_to 'Delete', admin_delete_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back to Product Listing', products_path %>
